<cancel-button>
  <button onclick={ props.onClick }>{ props.name }</button>

  <style>
    button {
      background: #fff !important;
      color: #aabbcc;
      border: 1px solid #aabbcc;
    }
  </style>
</cancel-button>