<delete-button>
  <button value={ props.value } onclick={ props.onClick }>{ props.name }</button>

  <style>
    button {
      background: #ED1846 !important;
      border: 1px solid #ED1846;
    }
  </style>
</delete-button>