html,
body {
  font-family: 'Amazon Ember', 'Helvetica', 'sans-serif';
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
}
a {
  color: #ff9900;
}
h1 {
  font-weight: 300;
}
hr {
  height: 1px;
  background: lightgray;
  border: none;
}
.app {
  width: 100%;
}
button {
  background: #ff9900;
  font-size: 0.8rem;
  color: white;
  text-transform: uppercase;
  padding: 1rem;
  border: 1px solid #ff9900;
}
button:hover {
  opacity: 0.8;
  cursor: pointer;
}
